{% extends "base.html" %}
{% import "partials/_macros.html" as m %}
{% block content %}
<header class="page-head">
  <div class="page-head-row">
    <h1>Board</h1>
    <div class="seg">
      <a class="seg-item{% if view == 'board' %} is-active{% endif %}" href="/board">Board</a>
      <a class="seg-item{% if view == 'table' %} is-active{% endif %}" href="/board?view=table">Table</a>
    </div>
  </div>
</header>

<div id="board-region">
  {% include "board/_region.html" %}
</div>
{% endblock %}
